<ion-header>
  <ion-navbar>
    <button ion-button menuToggle color="danger">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ page.title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="!page.tag && showEmptyMessage">
    <ion-card-content>
      Vous n'avez pas de favoris, veuillez en rajouter.
    </ion-card-content>
  </ion-card>

  <yh-post [post]="post" *ngFor="let post of posts"></yh-post>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Téléchargement des images en cours...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
