<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let post of posts">
    <img [src]="post.image"/>
    <div *ngIf="post.description" class="post-description">
      {{ post.description }}
    </div>
  </ion-card>
  <ion-buttons text-center>
    <button text-center ion-button dark outline round (click)="reload()" icon-only>
      <ion-icon name="ios-refresh-outline"></ion-icon>
    </button>
  </ion-buttons>
</ion-content>
