<ion-card no-margin [ngClass]="{ 'border': !canReload }">
  <img [src]="post.image" (click)="cardTapped(post)"/>
  <ion-card-content>
    <h2>
      {{ post.description }}
    </h2>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear color="danger" icon-left icon-only (click)="unfavoritePost(post)" *ngIf="post.isFavorite">
          <ion-icon name="star" class="gold"></ion-icon>
        </button>
        <button ion-button clear color="danger" icon-left icon-only (click)="favoritePost(post)" *ngIf="!post.isFavorite">
          <ion-icon name="star-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col text-center *ngIf="canReload">
        <button text-center ion-button outline round (click)="reload()" icon-only color="danger">
          <ion-icon name="ios-refresh-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear color="danger" icon-left icon-only (click)="download(post)">
          <ion-icon name='ios-cloud-download-outline'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
