yh-post {
  ion-card.card {
    width: 100%;
    border-radius: 0;

    &.border {
      border-bottom: 2px #f53d3d solid;
    }

    &.no-box-shadow {
      box-shadow: none;
    }

    img.img-loader {
      background: url(../assets/imgs/loader.gif);
      // background-repeat: no-repeat;
      background-size: 100% 100%;
      min-height: 250px;
    }

    button.invisible {
      opacity: 0;
    }
  }
}
